<% if svn_warning_message && svn_warning_message.length > 0 %>
  <div id="svnWarningExplanation">
    <h3><b><%= l(:svn_warn_title_template) %></b></h3>
    <p><%= l(:svn_warn_message) + svn_warning_message %><br>
       <%= l(:svn_warn_body_template) %></p>
  </div>
<% end %>