<% if svn_error_message && svn_error_message.length > 0 %>
  <div class="errorExplanation" id="errorExplanation" role="alert">
    <%= l(:svn_error_title_template) %><br><br>
    <%= l(:svn_error_message) + svn_error_message %><br>
    <%= l(:svn_error_body_template) %><br>
  </div>
<% end %>